/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body{
font-family:tahoma,sans seif;
background-image:url("rails.png");/*
background-repeat:repeat-x;*/

}
table{
background-color:#FAFAF2;
border: 15px solid rgba(0,0,0,.5);
border-top:none;
margin-left:90px;
margin-bottom:90px;
width:600px;
padding:0;
border-radius:5px;
top:50px;
position:relative;
float:left;
}
td {
border-top:0.5px solid #ccc;
valign:top;
}
h1{
	top:0;
	margin-top:0px;
	margin-left:-7px;
	width:1250px;
	position:fixed;
	font-size:28px;
	display:block;
	background-color:#FAFAF5;
	color:white;
	padding:20px;
	text-shadow:black 2px 2px 5px;
	font-family:goudy stout;
	z-index:200;	
	border:1px solid #ccc;
	box-shadow:0em -2em 5em #ccc inset
}
#wrapper{
	background-color:rgba(234,245,255,.5);
	width:450px;
	height:300px;
	top:50px;
	padding:10px;
	text-decoration:none;
	font-size:20px;
	float:left;
	position:relative;
}
#wrapper a{
	display:block;
	width:150px;
	background-color:#069;
	color:#fff;
	line-height:170%;
	border:1px solid #ccc;
	padding:7px;
}
